/* $Revision: 1.1.1.1 $ */

/***** IDs ********************************************************************/

#id_containerNavigationRelated {

    display: none;

}


/***** Classes ****************************************************************/

.c_ModuleAdmin {
    font-size: .8em;
}

#id_containerAdminMenu a:hover,
.c_ModuleAdmin a:hover {
                    background-color: #338888;
                    border-bottom: 1px solid #eeeeee;
                    border-top: 1px solid #eeeeee;
}
legend {background-color: #333333;border: 1px solid #666666;}
.c_ModuleAdmin h2 {
    background-color: #406060;
    border: 1px solid #666666;
    text-align: center;
    width: 100%;
}

.c_ModuleAdmin label {
    display: block;
    margin-bottom: .2em;
    margin-top: .8em;
}

.c_ModuleAdmin dd {
    background-color: #333333;
    border: 1px solid #666666;
    display: none;
    margin-top: 1em;
    padding: .2em .3em;
}

.c_containerModuleAdmin input,
.c_containerModuleAdmin select {
    display: block;
}

.c_containerPageEditContentBlock {
    border: 0px none;
    clear: both;
    text-align: center;
}

.c_containerPageEditContentHead h2 {
    clear: both;
    margin-top: 3em;
}

.c_containerPageEditContentHead input {
    width: 70%;
    margin-bottom: 2em;
}

.c_containerPageEditContentHead p {
    background-color: #333333;
    border: 1px solid #666666;
    display: none;
    margin: 0px auto 2em auto;
    text-align: left;
    width: 70%;
}

.c_containerPageEditContentCritical input,
.c_containerPageEditContentCritical textarea {
    width: 100%;
}

.c_containerPageEditContentCritical fieldset,
.c_containerPageEditContentOptions fieldset {
    border: 0px solid;
}

.c_containerPageEditContentCritical {
    float: left;
    width: 68%;
}

.c_containerPageEditContentOptions {
    float: right;
    text-align: left;
    width: 28%;
}

.c_containerFormPageEditSubmit {
    clear: both;
    margin: 1em auto;
    text-align: center;
    width: 100%;
}


/***** Containers *************************************************************/

#id_containerAdminMenu {
    font-size: .8em;
}

#id_containerAdminMenu ul {
    list-style: none;
}

#id_containerAdminMenu li {
    display: inline;
    font-weight: bold;
    padding: .2em .5em;
}

#id_containerAdminMenu ul ul {
    background-color: #333333;
    border: 1px solid #666666;
    margin: .5em .5em;
}

#id_containerAdminMenu li ul li{
    font-weight: normal;
    margin: .1em .4em;
    padding: .1em .1em;;
}

#id_containerAdminMenu li ul li a {
    padding: 0px .7em;
}

#id_containerAdminMenu li ul li a:hover {
    background-color: #338888;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding: 0px .7em;
}

#id_containerConfiguration select {
    float: left;
    margin-right: 1em;
}

#id_pageSelect fieldset {
    background-color: #333333;
    border: 1px solid #666666;
    text-align: center;
}

#id_pageSelect fieldset {
    font-weight: bold;
}

#id_pageSelect select {
    display: block;
    margin: .7em auto;
}

#id_pageSelect legend {
    font-weight: bold;
}

#id_formPageCreate fieldset {
    border: 0px none;
}

#id_containerPageCreateSubmit {
    text-align: center;
    width: 100%;
}

#id_containerFormPageEditMeta {
}

#id_containerFormPageEditMeta fieldset {
    border: 0px solid;
}

#id_containerFormPageEditMeta legend {
    font-weight: bold;
}

#id_containerPageCreateCritical,
#id_containerFormPageEditCritical {
    float: left;
    width: 49%;
}

#id_containerPageCreateOptions,
#id_containerFormPageEditOptions {
    float: right;
    width: 49%;
}

#id_containerPageDeletions {
    float: left;
    width: 48%;
}

#id_containerFormPageEditContentNew {
    clear: both;
    text-align: center;
}

#id_containerFormPageEditContentNew fieldset {
    border: 0px none;
}

#id_containerFormPageEditContentNewCritical {
    float: left;
    width: 68%;
}

#id_containerFormPageEditContentNewCritical input,
#id_containerFormPageEditContentNewCritical textarea {
    width: 100%;
}

#id_containerFormPageEditContentNewOptions {
    float: right;
    text-align: left;
    width: 28%;
}

/***** User Create *****/
#id_formUserCreate fieldset,
#id_formUserEdit fieldset {
    border: 0px;
    text-align: center;
}
#id_formUserCreate legend,
#id_formUserEdit legend {
    background-color: #af55af;
    border: 1px solid #666666;
    padding: .2em .3em;
}
#id_formUserCreate input,
#id_formUserCreate select,
#id_formUserEdit input,
#id_formUserEdit select {
    width: 12em;
}
#id_containerUserAccess {
    clear: both;
    text-align: center;
    width: 100%;
}

#id_containerUserPersonal {
    float: left;
    width: 49%;
}

#id_containerUserContact {
    float: right;
    width: 49%;
}

#id_containerUserLocation {
    float: left;
    width: 49%;
}

#id_containerUserSecurity {
    float: right;
    width: 49%
}

#id_containerUserExtras {
    float: left;
    text-align: center;
    width: 49%;
}

#id_submitSignUp {
    clear: both;
    text-align: center;
}

#id_submitSignUp input {
    width: 7em;
}

#id_containerConfiguration  dl {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/***** User List *****/

table.c_userList {
    border: 1px solid #aaaaaa;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

table.c_userList caption {
    background-color: #999999;
    border: 1px solid #666666;
    font-weight: bold;
    margin-top: 40px;
}

table.c_userList th {
    font-size: .9em;
}

table.c_userList td {
    padding: 5px 0px;
}

table.c_userList .c_userEven {
    background-color: #444444;
}

table.c_userList .c_userEven td {
    border-top: 1px solid #999999;
    padding-top: .2em;
}

table.c_userList .c_userOdd td {
    padding-bottom: .2em;
}

table.c_userList .c_userOdd {
    background-color: #333333;
}

table.c_userList .c_userColumnLeft {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 50%;
}

table.c_userList .c_userColumnRight {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: right;
    width: 50%;
}
