/***** User Create *****/
#id_formUserCreate fieldset {
    border: 0px;
    text-align: left;
}
#id_formUserCreate legend {
    background-color: #555555;
    border: 1px solid #999999;
    padding: .2em .3em;
}
#id_formUserCreate input,
#id_formUserCreate select {
    display: block;
    width: 12em;
}
#id_formUserCreate label {
    display: block;de
}
#id_containerUserAccess {
    clear: both;
    text-align: center;
    width: 100%;
}

#id_containerUserPersonal {
    float: left;
    width: 49%;
}

#id_containerUserContact {
    float: right;
    width: 49%;
}

#id_containerUserLocation {
    float: left;
    width: 49%;
}

#id_containerUserSecurity {
    float: right;
    width: 49%
}

#id_containerUserExtras {
    float: left;
    text-align: center;
    width: 49%;
}

#id_submitSignUp {
    clear: both;
    text-align: center;
}

#id_submitSignUp input {
    width: 7em;
}
