/* $Revision: 1.1.1.1 $ */

/* Tags */
html, body {
    background-color: #111111;
    background-image: url('/themes/Default-Black/images/darkbg.jpg');
    color: #dddddd;
    font-family: sans-serif;
    margin: 0px 0px;
    padding: 0px 0px;
}

img {
    border: 0px solid;
}

a {
    color: #c0eec0;
    text-decoration: none;
}
a:visited {
    color: #c0c0ee;
}
a:hover {
    color: #8b0000;
}
dd {
    background-color: #333333;
    border: 1px solid #555555;
    margin: .5em 1em 1em 1em;
    padding: .5em .5em;
}
button, input, seledct, textarea {
    background-color: #333333;
    border: 1px solid #666666;
    color: #ffffff;
}

button:hover,
input:hover,
select:hover,
textarea:hover {
    background-color: #338888;
}

button:active,
input:active,
select:active,
textarea:active {
    background-color: #333333;
}

option {
    background-color: #505550;
}

/* Containers IDs */
#id_container1 {
    background-color: black;
    border: 1px solid #555555;
    margin: 2em auto;
    max-width: 1000px;
    padding-left: 1em;
    padding-right: 1em;
}

#id_container1-Row1 {
    width: 100%;
}

#id_containerSkipToNav {
    display: none;
}

#id_containerUserInfo {
    font-size: .7em;
    float: left;
}

#id_containerAuthentication {
    float: right;
    font-size: .6em;
    text-align: right;
    width: 15em;
}

#id_containerAuthentication fieldset {
    border: 0px solid;
}

#id_containerAuthentication input {
    font-size: 1em;
}

#id_containerAuthentication label {
    display: block
}

#id_containerAuthentication #id_authenticateSubmit {
    border: 1px solid white;
    margin-top: .8em;
}

#id_containerLogo {
    margin: 0px auto;
    width: 200px;
}

#id_container1-Row2 {
    background-color: #333333;
    border: 1px solid #666666;
    font-size: .8em;
    min-height: 1.5em;
    margin-bottom: 1em;
    padding: .1em .5em;
}

#id_containerNavigationTertiary {
    background-color: #333333;
    float: right;
    margin-top: .1em;
}

#id_containerNavigationTertiary ul{
    display: inline;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

#id_containerNavigationTertiary li {
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
    padding: 0px 0px;
}

#id_containerNavigationTertiary li a {
    padding: .25em .7em;
}

#id_containerNavigationTertiary li a:hover {
    background-color: #338888;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}

#id_containerNavigationParents {
background-color: #333333;
float: left;
margin-top: .1em;
}

#id_containerNavigationParents h4 {
    display: inline
}

#id_containerNavigationParents ul {
    display: inline;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

#id_containerNavigationParents li {
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
    padding: 0px 0px;
}

#id_containerNavigationParents li a {
    padding: .25em .7em;
}

#id_containerNavigationParents li a:hover {
    background-color: #338888;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}

#id_container1-Row3 {
    clear: both;
}

#id_container1-Row3-Col1 {
    float: right;
    position: relative;
    left: -20%;
    width: 60%;
}

#id_containerMessagesError {
    border: 1px solid #666666;
    margin-bottom: 1em;
    background-color: darkred;
}

#id_containerMessagesError h1 {
    text-align: center;
}

#id_containerMessagesNotice {
    border: 1px solid #666666;
    margin-bottom: 1em;
    background-color: darkyellow;
}

#id_containerMessagesNotice h1 {
    text-align: center;
}

#id_containerMessagesSuccess {
    border: 1px solid #666666;
    margin-bottom: 1em;
    text-align: center;
    background-color: #114411;
}
#id_containerMessagesSuccess h1 {
    display: none;
}
#id_containerMessagesSuccess ul {
    list-style: none;
    font-weight: bold;
}
#id_containerPageTitle {
    border: 1px solid #666666;
    background-color: #406060;
    margin-bottom: 1em;
    text-align: center;
}

#id_containerPageTitle h1 {
    margin: 0px 0px;
}

#id_container1-Row3-Col2 {
    float: left;
    width: 20%;
}

#id_containerNavigationPrimary {
    font-size: .8em;
}

#id_containerNavigationPrimary a:hover {
    background-color: #338888;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}
#id_containerNavigationPrimary ul {
    list-style: none;
    margin-left: .5em;
    margin-top: 0em;
    padding-left: .5em;
    margin-left: 0px;
    padding-left: 0px;
}
#id_containerNavigationPrimary ul ul {
    margin-left: 0em;
    padding-left: 1em;
}

#id_container1-Row3-Col3 {
    float: right;
    font-size: .7em;
    position: relative;
    left: 60%;
    width: 20%;
}

#id_container1-Row3-Col3 div {
    background-color: #333333;
    border: 1px solid white;
    margin-bottom: 2em;
    margin-left: 1em;
}
#id_container1-Row3-Col3 div div {
    border: 0em none;
}

#id_container1-Row3-Col3 h4,
#id_container1-Row3-Col3 h3 {
    background-color: #666666;
    margin: 0px 0px;
    text-align: center;
}

#id_container1-Row3-Col3 ul {
    list-style: none;
    margin: .1em .4em;
    padding-left: .5em;
}

#id_container1-Row3-Col3 a:hover {
    background-color: #338888;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}

#id_containerNavigationChildren,
#id_containerNavigationSiblings {
position: relative;
left: -1em;
width: 100%;
}

#id_container1-Row4 {
    clear: both;
}

#id_containerNavigationSecondary {
    background-color: #333333;
    border: 1px solid #666666;
    font-size: .8em;
    min-height: 1.3em;
    padding: .2em .5em;
    text-align: center;
}

#id_containerNavigationSecondary ul {
    display: inline;
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

#id_containerNavigationSecondary li {
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
    padding: 0px 0px;
}

#id_containerNavigationSecondary li a {
    padding: .25em .7em;
}

#id_containerNavigationSecondary li a:hover {
    background-color: #338888;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}

#id_containerThemeChooser {
    text-align: center;
}

#id_containerThemeChooser fieldset {
    border: 0px solid;
}

#id_containerThemeChooser button,
#id_containerThemeChooser select {
    font-size: .7em;
}

#id_container2 {
    text-align: center;
}

#id_container2 h6 {
    margin: 5px 5px;
}

#id_containerJasonWhiteSlimFrameInfo ul {
    display: inline;
    list-style: none;
    font-size: .8em;
    margin: 0px 0px;
    padding: 0px 0px;
}

#id_containerJasonWhiteSlimFrameInfo li {
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
    padding: 0px 0px;
}

/* Item IDs */
#id_authenticationForm {
    display: inline;
}

/* Classes */
.c_button {
}

.c_clear-both {
    clear: both;
}

.c_display-none {
    display: none;
}

.c_contentBlock {
    background-color: #111111;
    border: 1px solid #333333;
    margin-bottom: 2em;
    margin-top: 0em;
    padding: 0em 1em 1em 1em;
}

.c_contentHeader {
    margin-left: 2em;
}

.c_contentImage {
}

.c_contentBody {
}


#id_pageResources ul {
background-color: #000000;
}
    .c_contentResources ul {
        list-style-type: none;
    }
    .c_archives {
        background-image: url('/themes/Default-Black/images/archives.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_audio {
        background-image: url('/themes/Default-Black/images/audio.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_documents {
        background-image: url('/themes/Default-Black/images/documents.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_images {
        background-image: url('/themes/Default-Black/images/images.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_pdf {
        background-image: url('/themes/Default-Black/images/pdf.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_video {
        background-image: url('/themes/Default-Black/images/video.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }

    .c_archives-small {
        background-image: url('/themes/Default-Black/images/archives24x24.png');
        background-repeat: no-repeat;
line-height: 2em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_audio-small {
        background-image: url('/themes/Default-Black/images/audio24x24.png');
        background-repeat: no-repeat;
line-height: 2em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_documents-small {
        background-image: url('/themes/Default-Black/images/documents24x24.png');
        background-repeat: no-repeat;
line-height: 2em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_images-small {
        background-image: url('/themes/Default-Black/images/images24x24.png');
        background-repeat: no-repeat;
line-height: 2em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_pdf-small {
        background-image: url('/themes/Default-Black/images/pdf24x24.png');
        background-repeat: no-repeat;
line-height: 2em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_video-small {
        background-image: url('/themes/Default-Black/images/video24x24.png');
        background-repeat: no-repeat;
line-height: 2em;
        min-height: 26px;
        padding-left: 28px;
    }

    .c_contentResources {
        background-color: #000000;
        border: 1px solid #eeeeee;
        margin: .5em 1em;
        width: 60%;
    }

    .c_contentResources h4,
    #id_pageResources h4 {
        background-color: #444444;
        border-bottom: 1px solid #aaaaaa;
        margin: 3px 0px;
        text-align: center;
width: 100%;
    }

    .c_contentResources ul,
    #id_pageResources ul {
        margin: .25em 0px 0px 0px;
    }

    .c_contentResources li {
position: relative;
left: -2em;
    }


.c_navLevel_00 {
    border: 1px solid #666666;
    background-color: #222222;
    margin-right: 1em;
}
.c_navLevel_00 li {
}

.c_navLevel_00 ul {
}
.c_navLevel_01 ul {
    border-left: 1px solid #333333;
    margin-right: 1em;
}

.c_navLevel_01 {
    background-color: #333333;
}

.c_navLevel_01 ul {
    border-left: 1px solid #555555;
    margin-right: 1em;
}

.c_navLevel_01 li {
    border: 0px none;
}

.c_navLevel_02 {
}

.c_navLevel_03 {
}

.c_navItem_00 {
}

.c_navItem_01 {
}

.c_navItem_02 {
}

.c_navItem_03 {
}
