/* $Revision: 1.1.1.1 $ */

/***** Classes ****************************************************************/

.c_ModuleAdmin {
    font-size: .8em;
}

#id_containerAdminMenu a:hover,
.c_ModuleAdmin a:hover {
                    background-color: #90ee90;
                    border-bottom: 1px solid #555555;
                    border-top: 1px solid #555555;
}

.c_ModuleAdmin h2 {
    background-color: #e0eee0;
    border: 1px solid #aaaaaa;
    clear: both;
    text-align: center;
    width: 100%;
}

.c_ModuleAdmin label {
    display: block;
    margin-bottom: .2em;
    margin-top: .8em;
}

.c_ModuleAdmin dd {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    display: none;
    margin-top: 1em;
    padding: .2em .3em;
}

.c_containerModuleAdmin input,
.c_containerModuleAdmin select {
    display: block;
}


/***** Containers *************************************************************/

#id_containerNavigationRelated {
    display: none;
}

#id_containerAdminMenu {
    font-size: .8em;
}

#id_containerAdminMenu h1 {
    margin-bottom: 0px;
}

#id_containerAdminMenu h5 {
    margin-top: 0px;
}

#id_containerAdminMenuItems {
    display: none;
}

#id_containerAdminMenu ul {
    list-style: none;
}

#id_containerAdminMenu li {
    display: inline;
    font-weight: bold;
    padding: .2em .5em;
}

#id_containerAdminMenu ul ul {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    margin: .5em .5em;
}

#id_containerAdminMenu li ul li{
    font-weight: normal;
    margin: .1em .4em;
    padding: .1em .1em;;
}

#id_containerAdminMenu li ul li a {
    padding: 0px .7em;
}

#id_containerAdminMenu li ul li a:hover {
    background-color: #90ee90;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    padding: 0px .7em;
}


#id_containerConfiguration select {
    float: left;
    margin-right: 1em;
}

#id_containerConfiguration  dl {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#id_pageResources {
    display:none;
}