#id_containerContactForm {
}
#id_containerContactForm fieldset {
border: 0px none;
}
#id_containerContactForm legend {
    background-color: #e0eee0;
    border: 1px solid #aaaaaa;
    padding: .2em .3em;
}
#id_containerContactForm label {
border: 0px none;
display: block;
margin-bottom: .2em;
margin-top: .5em;
}
#id_containerContactForm input,
#id_containerContactForm select {
width: 12em;
}
#id_containerContactForm textarea {
width: 80%;
}
#id_containerContactFormMessage fieldset{
    clear: both;
text-align:center;
margin: 2em auto;
}
#id_containerContactFormPersonal {
    float: left;
    width: 45%;
}
#id_containerContactFormLocation {
    float: right;
text-align: right;
    width: 45%;
}
#id_containerSpecialOffers {
float: left;
width: 45%;
}
#id_containerSubmit {
    clear: both;
text-align: center;
width: 100%;

}
#id_containerSubmit input {
width: 6em;
}
