#id_containerAddFiles1 label,
#id_containerAddLinks1 label {
    display: inline;
}
#id_containerAddFiles1 select,
#id_containerAddLinks1 select {
    display: block;
}
#id_containerEditFiles1 th {
text-align: left;
}
#id_containerEditFiles1 td {
text-align: left;
vertical-align: top;
}
#id_containerFormFilesEdit table {
border: 1px solid #dddddd;
width: 100%;
}
.c_resourceTitle {
background-color: #e0ffff;
border-top: 1px solid #dddddd;
}
.c_resourceLocation {
background-color: #ffffff;
}
.c_resourceDetails {
background-color: #eeeeee;
}
.c_resourceTitle td {
border-top: 2px solid #dddddd;
}
.c_resourceDetails td {
border-bottom: 1px solid #dddddd;
}
.c_resourceActive {
width: 5%;
}
.c_resourceViewable {
width: 5%;
}
.c_resourceDescription {
width: 75%;
}
.c_resourceEdit {
width: 5%;
}
.c_resourceDelete {
width: 5%;
}
