#id_pageSelect fieldset {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    text-align: center;
}

#id_pageSelect fieldset {
    font-weight: bold;
}

#id_pageSelect select {
    display: block;
    margin: .7em auto;
}

#id_pageSelect legend {
    font-weight: bold;
}

#id_containerFormPageEditMeta {
}

#id_containerFormPageEditMeta fieldset {
    border: 0px solid;
}

#id_containerFormPageEditMeta legend {
    font-weight: bold;
}

#id_containerFormPageEditCritical {
    float: left;
    width: 49%;
}

#id_containerFormPageEditOptions {
    float: right;
    width: 49%;
}

#id_containerPageDeletions {
    float: left;
    width: 48%;
}

s#id_containerFormPageEditContentNew {
    clear: both;
    text-align: center;
}

#id_containerFormPageEditContentNew fieldset {
    border: 0px none;
}

#id_containerFormPageEditContentNewCritical {
    float: left;
    width: 68%;
}

#id_containerFormPageEditContentNewCritical input,
#id_containerFormPageEditContentNewCritical textarea {
    width: 100%;
}

#id_containerFormPageEditContentNewOptions {
    float: right;
    text-align: left;
    width: 28%;
}

.c_containerPageEditContentBlock {
    border: 0px none;
    clear: both;
    text-align: center;
}

.c_containerPageEditContentHead h2 {
    clear: both;
    margin-top: 3em;
}

.c_containerPageEditContentHead input {
    width: 70%;
    margin-bottom: 2em;
}

.c_containerPageEditContentHead p {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    display: none;
    margin: 0px auto 2em auto;
    text-align: left;
    width: 70%;
}

.c_containerPageEditContentCritical input,
.c_containerPageEditContentCritical textarea {
    width: 100%;
}

.c_containerPageEditContentCritical fieldset,
.c_containerPageEditContentOptions fieldset {
    border: 0px solid;
}

.c_containerPageEditContentCritical {
    float: left;
    width: 68%;
}

.c_containerPageEditContentOptions {
    float: right;
    text-align: left;
    width: 28%;
}

.c_containerFormPageEditSubmit {
    clear: both;
    margin: 1em auto;
    text-align: center;
    width: 100%;
}
