#id_formPageCreate fieldset {
    border: 0px none;
}

#id_containerPageCreateSubmit {
    text-align: center;
    width: 100%;
}

#id_containerFormPageEditMeta {
}

#id_containerFormPageEditMeta fieldset {
    border: 0px solid;
}

#id_containerFormPageEditMeta legend {
    font-weight: bold;
}

#id_containerPageCreateCritical {
    float: left;
    width: 49%;
}

#id_containerPageCreateOptions {
    float: right;
    width: 49%;
}

#id_containerPageDeletions {
    float: left;
    width: 48%;
}

#id_containerFormPageEditContentNew {
    clear: both;
    text-align: center;
}

#id_containerFormPageEditContentNew fieldset {
    border: 0px none;
}

#id_containerFormPageEditContentNewCritical {
    float: left;
    width: 68%;
}

#id_containerFormPageEditContentNewCritical input,
#id_containerFormPageEditContentNewCritical textarea {
    width: 100%;
}

#id_containerFormPageEditContentNewOptions {
    float: right;
    text-align: left;
    width: 28%;
}
