#jwsf_SupyQDB_Menu {
text-align: center;
}
#jwsf_SupyQDB ul {
padding-left: 0em;
}
#jwsf_SupyQDB li {
display: inline;
font-size: .9em;
}
#jwsf_SupyQDB form {
display: inline;
margin-left: .25em;
}
#jwsf_SupyQDB h5 {
text-align: center;
}
.jwsf_SupyQDB_Quote {
background-color: #efffef;
border: 1px solid #cccccc;
padding: 1em 1em;
margin: 1em auto;
}
.jwsf_SupyQDB_QuoteText {
width: 75%;
}
.jwsf_SupyQDB_Quote h4 {
font-size: .7em;
text-align: center;
}
.jwsf_SupyQDB_Ratings {
float: right;
position: relative;
top: -9em;
width: 20%;
}
.jwsf_SupyQDB_Ratings img {
margin: .2em .2em;
width: 40%;
}