/* $Revision: 1.5 $ */


/***** Tags *****/

html, body {
    font-family: sans-serif;
    margin: 0px 0px;
    padding: 0px 0px;
}
img {
    border: 0px solid;
}
a {
    color: #30aa30;
    text-decoration: none;
}
a:visited {
    color: #307790;
}
a:hover {
    color: #8b0000;
}
dd {
    background-color: #eeeeee;
    border: 1px solid #555555;
    margin: .5em 1em 1em 1em;
    padding: .5em .5em;
}
button, input, seledct, textarea {
    background-color: #eeeeee;
    border: 1px solid #555555;
}

button:hover,
input:hover,
select:hover,
textarea:hover {
    background-color: #90ee90;
}
button:active,
input:active,
select:active,
textarea:active {
    background-color: #ffffff;
}
option {
    background-color: #e0eee0;
}



/***** Containers IDs *****/

#id_container1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 1000px;
}

    #id_container1-Row1 {
        width: 100%;
    }

        #id_containerSkipToNav {
            display: none;
        }

        #id_containerUserInfo {
            font-size: .7em;
            float: left;
        }
        #id_containerAuthentication {
            float: right;
            font-size: .6em;
            text-align: right;
            width: 15em;
        }

            #id_containerAuthentication fieldset {
                border: 0px solid;
            }

                #id_containerAuthentication input {
                    font-size: 1em;
                }

                #id_containerAuthentication label {
                    display: block
                }

                #id_containerAuthentication #id_authenticateSubmit {
                    border: 1px solid black;
                    margin-top: .8em;
                }

        #id_containerLogo {
            margin: 0px auto;
            width: 200px;
        }

    #id_container1-Row2 {
        background-color: #eeeeee;
        border: 1px solid #aaaaaa;
        font-size: .8em;
        min-height: 1.5em;
        margin-bottom: 1em;
        padding: .1em .5em;
    }

        #id_containerNavigationTertiary {
            background-color: #eeeeee;
            float: right;
margin: 0em 0em;
        }

            #id_containerNavigationTertiary ul{
                display: inline;
                list-style: none;
                margin: 0px 0px;
                padding: 0px 0px;
position: relative;
top: -.2em;
            }

                #id_containerNavigationTertiary li {
                    display: inline;
                    margin-left: .5em;
                    margin-right: .5em;
                    padding: 0px 0px;
                }

                    #id_containerNavigationTertiary li a {
                        padding: .25em .7em;
                    }

                    #id_containerNavigationTertiary li a:hover {
                        background-color: #90ee90;
                        border-bottom: 1px solid #555555;
                        border-top: 1px solid #555555;
                    }

                #id_containerNavigationTertiary img {
position: relative;
left: -.25em;
top: .3em;
                }


        #id_containerNavigationParents {
            background-color: #eeeeee;
            float: left;
            margin-top: .1em;
        }

            #id_containerNavigationParents h4 {
                display: inline
            }

            #id_containerNavigationParents ul {
                display: inline;
                list-style: none;
                margin: 0px 0px;
                padding: 0px 0px;
            }

                #id_containerNavigationParents li {
                    display: inline;
                    margin-left: .5em;
                    margin-right: .5em;
                    padding: 0px 0px;
                }

                    #id_containerNavigationParents li a {
                        padding: .25em .7em;
                    }

                    #id_containerNavigationParents li a:hover {
                        background-color: #90ee90;
                        border-bottom: 1px solid #555555;
                        border-top: 1px solid #555555;
                    }

    #id_container1-Row3 {
        clear: both;
    }

        #id_container1-Row3-Col1 {
            float: right;
            position: relative;
            left: -15%;
            width: 65%;
        }

            #id_containerMessagesError {
                background-color: #eeaaaa;
                border: 1px solid #555555;
                font-size: .8em;
                margin-bottom: 2em;
            }

                #id_containerMessagesError h1 {
                    font-size: 1.5em;
                    text-align: center;
                }

                #id_containerMessagesError img {
float: right;
                }

            #id_containerMessagesNotice {
                background-color: #eeeeaa;
                border: 1px solid #555555;
                font-size: .8em;
                margin-bottom: 2em;
            }

                #id_containerMessagesNotice h1 {
                    font-size: 1.5em;
                    text-align: center;
                }

                #id_containerMessagesNotice img {
float: right;
                }
            #id_containerMessagesSuccess {
                background-color: #aaeeaa;
                border: 1px solid #555555;
                font-size: .8em;
                margin-bottom: 2em;
            }

                #id_containerMessagesSuccess h1 {
                    font-size: 1.5em;
                    text-align: center;
                }

                #id_containerMessagesSuccess img {
float: right;
                }
                #id_containerSocialBar {
                    text-align: center;
                }
                #id_containerSocialBar img {
                    position: relative;
                    top: .4em;
                }

                #id_containerSocialBar ul {
                    font-size: .7em;
                    margin: .25em auto;
                    padding: .1em 0em;
                }
                #id_containerSocialBar li {
                    background-color: #dddddd;
                    border: 1px solid #aaaaaa;
                    display: inline;
                    margin: 0em .5em;
                    padding: .2em .3em .3em .3em;
position: relative;
top: -.25em;
                }

                #id_containerSocialBar li:hover {
                    background-color: #90ee90;
                }

                #id_containerSharePage,
                #id_containerEmailPage {
                    background-color: #e3eee3;
                    border: 1px solid #aaaaaa;
                    font-size: .6em;
                    margin: 3em 3em;
                    padding: .5em 6em;
                }

                #id_containerEmailPage input {
                    display: block;
                    font-size: 1.1em;
                    margin-bottom: .5em;
                }

                #id_containerEmailPage button {
                    font-size: 1em;
                    margin-bottom: 1em;
                }

#id_containerSharePage h3 {
text-align: center;
}

#id_containerSharePage img {
position: relative;
top: .6em;
}

#id_containerSharePage ul {
padding: 0em 0em;
margin: .4em 0em;
text-align: center;
}

#id_containerSharePage li {
background-color: #dddddd;
border: 1px solid #aaaaaa;
display: inline;
margin: 0em 1em;
padding: .3em .2em .4em .2em;
}

#id_containerSharePage li:hover {
background-color: #90ee90;
}
            #id_containerPageTitle {
                border: 1px solid #aaaaaa;
                background-color: #e3eee3;
                margin-bottom: 3em;
                text-align: center;
            }

                #id_containerPageTitle h1 {
                    margin: 0px 0px;
                }
#id_pageResources,
            #id_containerNavigationRelated {
                background-color: #eeeeee;
                border: 1px solid #aaaaaa;
clear: right;
                float: right;
                font-size: .7em;
                margin: 2em 0em 1em 2em;
                width: 12em;
            }
#id_pageResources {
background-color: #ffffff;
}
#id_pageResources h4,
                #id_containerNavigationRelated h3 {
                    background-color: #dddddd;
                    margin: 0px 0px;
                    text-align: center;
                }

#id_pageResources ul,
                #id_containerNavigationRelated ul {
                    list-style: none;
                    margin: .1em .4em;
                    padding-left: .5em;
                }

#id_pageResources a,
                    #id_containerNavigationRelated a {
                    }

#id_pageResources a:hover,
                    #id_containerNavigationRelated a:hover {
                        background-color: #90ee90;
                        border-bottom: 1px solid #555555;
                        border-top: 1px solid #555555;
                    }

                #id_containerNavigationSiblings {
                    padding: 3px 3px;
                    position: relative;
                }

                #id_containerNavigationChildren {
                    padding: 3px 3px;
                }
#id_pageResources li {
margin-left: 2.2em;
margin-right: 0em;
}
        #id_container1-Row3-Col2 {
            float: left;
            width: 20%;
        }

            #id_containerNavigationPrimary {
                font-size: .8em;
            }

                #id_containerNavigationPrimary a:hover {
                    background-color: #90ee90;
                    border-bottom: 1px solid #555555;
                    border-top: 1px solid #555555;
                }
                #id_containerNavigationPrimary ul {
                    list-style: none;
                    margin-left: .5em;
                    margin-top: 0em;
                    padding-left: .5em;
                    margin-left: 0px;
                    padding-left: 0px;
                }
                    #id_containerNavigationPrimary ul ul {
                        margin-left: 0em;
                        padding-left: 1em;
                    }

        #id_container1-Row3-Col3 {
            float: right;
            font-size: .7em;
            position: relative;
            left: 65%;
            width: 15%;
        }

            #id_container1-Row3-Col3 div {
                background-color: #dddddd;
                border: 1px solid #aaaaaa;
                margin-bottom: 1em;
                margin-left: 1em;
            }

                #id_container1-Row3-Col3 h3,
                #id_container1-Row3-Col3 h2 {
font-size: 1.1em;
                    text-align: center;
                    padding: 0em 1em;
                    margin: .1em auto;
                }

#id_container1-Row3-Col3 h4 {
background-color: #ddeddd;
border-bottom: 1px solid #cccccc;
border-top: 1px solid #cccccc;
rpadding: .1em .5em .1em .5em;
margin: 0em 0em;
text-align: center;
}

                #id_container1-Row3-Col3 ul {
                    background-color: #eeeeee;
                    font-size: .9em;
                    list-style: none;
                    margin: 0em 0em;
                    padding: 1em 0em;
                }

                    #id_container1-Row3-Col3 li {
                        margin-left: .7em;
                        padding-top: .4em;
                    }

    #id_container1-Row4 {
        clear: both;
    }

        #id_containerNavigationSecondary {
            background-color: #eeeeee;
            border: 1px solid #aaaaaa;
            font-size: .8em;
            min-height: 1.3em;
            padding: 0em .5em .2em 0em;
            text-align: center;
        }

            #id_containerNavigationSecondary ul {
                display: inline;
                list-style: none;
                margin: 0px 0px;
                padding: 0px 0px;
            }

                #id_containerNavigationSecondary img {
position: relative;
left: -.35em;
top: .3em;
                }
                #id_containerNavigationSecondary li {
                    display: inline;
                    margin-left: .5em;
                    margin-right: .5em;
                    padding: 0px 0px;
                }

                    #id_containerNavigationSecondary a {
                    padding: .25em .7em;
                    }

                    #id_containerNavigationSecondary a:hover {
                    background-color: #90ee90;
                    border-bottom: 1px solid #555555;
                    border-top: 1px solid #555555;
                    }

        #id_containerThemeChooser {
            text-align: center;
        }

            #id_containerThemeChooser fieldset {
                border: 0px solid;
            }

                #id_containerThemeChooser button,
                #id_containerThemeChooser select {
                    font-size: .7em;
                }

    #id_container2 {
        text-align: center;
margin: 0em auto;
width: 560px;
    }

        #id_container2 h6 {
            margin: 5px 5px;
        }

        #id_containerPaymentLogo {
        }

        #id_containerPerfectCode {
        }

            #id_containerJasonWhiteSlimFrameInfo ul {
                display: inline;
                list-style: none;
                font-size: .8em;
                margin: 0px 0px;
                padding: 0px 0px;
            }

                #id_containerJasonWhiteSlimFrameInfo li {
                    display: inline;
                    margin-left: .5em;
                    margin-right: .5em;
                    padding: 0px 0px;
                }


/***** Specific Item IDs *****/

    #id_authenticationForm {
        display: inline;
    }


/***** Classes *****/

    .c_clear-both {
        clear: both;
    }

    .c_display-none {
        display: none;
    }

    .c_Module {
    margin-top: 3em;
    }

    .c_Module label {
    display: block;
    }

    .c_button {
    }

    .c_contentBlock {
    }

    .c_contentHeader {
    }

    .c_contentImage {
    }

    .c_contentBody {
    }

    #id_pageResources ul,
    .c_contentResources ul {
        list-style-type: none;
    }
    .c_archives {
        background-image: url('/_img/icons/archives.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_audio {
        background-image: url('/_img/icons/audio.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_documents {
        background-image: url('/_img/icons/documents.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_images {
        background-image: url('/_img/icons/images.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_pdf {
        background-image: url('/_img/icons/pdf.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }
    .c_video {
        background-image: url('/_img/icons/video.png');
        background-repeat: no-repeat;
line-height: 1.8em;
        min-height: 32px;
        padding-left: 40px;
    }

    .c_archives-small {
        background-image: url('/_img/icons/archives24x24.png');
        background-repeat: no-repeat;
line-height: 1.7em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_audio-small {
        background-image: url('/_img/icons/audio24x24.png');
        background-repeat: no-repeat;
line-height: 1.7em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_documents-small {
        background-image: url('/_img/icons/documents24x24.png');
        background-repeat: no-repeat;
line-height: 1.7em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_images-small {
        background-image: url('/_img/icons/images24x24.png');
        background-repeat: no-repeat;
line-height: 1.7em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_pdf-small {
        background-image: url('/_img/icons/pdf24x24.png');
        background-repeat: no-repeat;
line-height: 1.7em;
        min-height: 26px;
        padding-left: 28px;
    }
    .c_video-small {
        background-image: url('/_img/icons/video24x24.png');
        background-repeat: no-repeat;
line-height: 1.7em;
        min-height: 26px;
        padding-left: 28px;
    }

    .c_contentResources {
        background-color: #ffffff;
        border: 1px solid #aaaaaa;
        margin: .5em 1em;
        width: 60%;
    }
    .c_contentResources h4 {
        background-color: #dddddd;
        border-bottom: 1px solid #999999;
        margin: 0px 0px;
padding: .2em 1em .1em 1em;
        text-align: center;
    }

    .c_contentResources ul {
        margin: .25em 0px 0px 0px;
    }

    .c_contentResources li {
position: relative;
left: -2em;
    }

    #id_pageResources li {
position: relative;
left: -3em;

    }

    .c_navLevel_00 {
        border: 1px solid #aaaaaa;
        background-color: #dddddd;
        margin-right: 1em;
    }


            .c_navItem_00 {
        }
        .c_navLevel_00 ul {
        }

            .c_navLevel_00 li {
            }

        .c_navLevel_01 {
            background-color: #eeeeee;
        }

            .c_navItem_01 {
            }

            .c_navLevel_01 ul {
                border-left: 1px solid #cccccc;
                margin-right: 1em;
            }

                .c_navLevel_01 li {
                    border: 0px none;
                }

            .c_navLevel_02 {
            }

                .c_navItem_02 {
                }

                .c_navLevel_03 {
                }

                    .c_navItem_03 {
                    }

#id_containerPageComments {
background-color: #eeeeee;
border: 1px solid #aaaaaa;
margin: 01em 1em;
width: 60%;
}

#id_containerPageCommentsNew h4 {
background-color: #aaeeaa;
border: 1px solid #555555;
margin: 0em auto .2em auto;
padding: 0em auto;
text-align:center;
}

#id_containerPageCommentsNew p {
font-size: .7em;
margin: 0em auto;
text-align: center;
width: 60%;
}

#id_containerPageCommentsNew {
background-color: #ffffff;
border-top: 1px solid #aaaaaa;
font-size: .9em;
padding: 1em 1em 1em 1em;
margin-bottom: 0em;
}

#id_containerPageCommentsNew label {
display: block;
}

#id_containerPageCommentsNew textarea {
height: 15em;
width: 100%;
}

#id_containerPageCommentsPrevious {
margin-top: 0em;
}

#id_containerPageComments h3 {
background-color: #dddddd;
font-size: 1.1em;
padding: .25em 1em;
margin: 0em 0em;
text-align: center;
}

#id_containerPageCommentsPrevious h5 {
font-size: .6em;
}

.c_containerPageComment {
border-top: 1px solid #aaaaaa;
padding: 1em 1em;

}

.c_containerPageComment p {
font-size: .8em;
}

.c_containerPageCommentReplies {
background-color: #dddddd;
border: 1px solid #aaaaaa;
border-right: 0px none;
margin-bottom: 1em;
margin-left: auto;
width: 80%;
}

.c_containerPageCommentReply {
margin: 1em auto 1em 0em;
padding: 0em 1em;
}
#id_containerPageComments ul.inline {
font-size: .6em;
padding: .1em .1em;
position: relative;
}
#id_containerPageComments .inline li {
background-color: #ffffff;
border: 1px solid #aaaaaa;
display: inline;
margin: 0em .3em;
padding: .1em .2em;
}

.inline {
display: inline;
}

#CommentSubmit {
margin: 1em 1em;
}