.c_Module label, 
.c_Module input, 
.c_Module select,
.c_Module textarea {
display: block;
}
table.c_userList {
border: 1px solid grey;
margin-left: auto;
margin-right: auto;
width: 500px;
}
table.c_userList caption {
background-color: #443000;
border: 1px solid grey;
color: cyan;
font-weight: bold;
margin-top: 40px;
}
table.c_userList th {
font-size: .9em;
}
td {
border: 0px;
padding: 5px 0px;
}
table.c_userList .c_userEven {
background-color: #333333;
border: 1px solid #333333;
margin: 0px 0px;
padding: 0px 0px;
}
table.c_userList .c_userOdd {
background-color: #222222;
border: 1px solid #222222;
margin: 0px 0px;
padding: 0px 0px;
}
table.c_userList .c_userColumnLeft {
width: 50%;
}
table.c_userList .c_userColumnRight {
text-align: right;
width: 50%;
}