/*
 * $Revision: 1.1.1.1 $
 */

body {
background-color: #000000;
color: #ffa000;
}
a {
color: #ffffff;
}
a:visited {
color: #dddddd;
}
a:active {
color: #ff0000;
}
fieldset {
border: 1px solid #333333;
}
img {
border: 0px;
}
h1,h2 {
background-color:#443000;
color: cyan;
}
select,input,button,textarea {
background-color: #443000;
color: cyan;
}
dd {
background-color: #222222;
margin-bottom: 20px;
}
