{strip}

    {* /* $Revision: 1.1.1.1 $ */ *}

    {* Begin Module DIV *}
    <div class="c_ModuleAdmin">
        <h2>Site-Wide Configuration Editor</h2>
        <div id="id_containerConfiguration">
            <form method="post" action="{$smarty.const.PathCurrentRel|escape}">
                <fieldset>
                    <legend>String Configuration</legend>
                        <dl>
                        {assign var="counter" value="0"}
                        {foreach from=$config key=label item=value}
                            <dt>
                                <label id="id_{$value[0]}Label" for="id_{$value[0]}">
                                    {$value[0]}</label>
                                <input type="text" name="{$value[0]}" maxlength="255" title="{$value[0]}" value="{$value[1]}" id="id_{$value[0]}" />
                            </dt>
                            <dd id="id_containerDD_{$counter|string_format:"%.2d"}">
                            {assign var="counter" value="`$counter+1`"}
                                {$value[2]}
                            </dd>
                        {/foreach}
                    </dl>
                    <button name="submitConfig" value="true" type="submit">Update!</button>
                </fieldset>
            </form>
        </div>
    {* End Content DIV *}
    </div>
{/strip}
