{strip}

    {* /* $Revision: 1.1.1.1 $ */ *}

  <div id="id_containerModule" class="c_Module">
      {if $contactSuccess != true}
          {foreach from=$contactForm item=tag}
              {$tag}
          {/foreach}
          <h6>* Denotes required information</h6>
      {/if}
  </div>
{/strip}
