{strip}

	{* Logo Display / Home Link *}
		<div id="id_containerLogo">
			<a href="/">
				<img src="{config->PathImgLogoRel}" alt="{config->SiteTitle}" title="{config->HomeLinkAlt}" />
			</a>
		</div>

{/strip}
